altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
crewai
crewai-tools
distro
exceptiongroup
gitdb
GitPython
h11
httpcore
httpx
idna
Jinja2
jiter
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
narwhals
numpy
openai
opencv-python
packaging
pandas
pillow
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
python-dateutil
python-dotenv
pytz
referencing
regex
requests
rich
rpds-py
six
smmap
sniffio
streamlit
tenacity
tiktoken
toml
tornado
tqdm
typing_extensions
tzdata
urllib3
